.boton_centrado{
	  margin: 0 auto;
}
.contenedor_centrado{
  text-align: center;
  vertical-align: center;
}
.contenedor_centrado_total{
    text-align: center;
}
img{
	height:150px;
	width: 200px;
}
.bold{
    font-weight: bold;
}
.contador{
	margin-bottom: 20px;
}